.Top {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 90%;
  /* max-width: 1200px; */
  color: #fff;
  font-family: 'Orbitron';
}

.Top__Inner {
  height: calc(100vh - 80px);
  display: flex;
}

.Top__texts {
  height: 100%;
  flex-basis: 50%;
}

.Top__text__title {
  font-size: 80px;
  font-weight: 900;
  padding-top: 20vh;
  position: relative;
}

.Top__text__title::before {
  content: 'tsuka-ryu';
  position: absolute;
  left: -2vw;
  bottom: 0;
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
}

.Top__text__lead {
  font-size: 28px;
  font-family: 'Quicksand';
  padding-top: 2vh;
}

.Top__text__subtitle {
  font-size: 60px;
  font-weight: 700;
  color: #ff6584;
  padding-top: 15vh;
}

.Top__img {
  flex-basis: 50%;
  /* overflow: hidden; */
}
