.Works__Main__Container {
  position: relative;
  text-shadow: 1px 1px 5px #3f3d56;
}

.Works__Main__Background {
  position: absolute;
  top: 0;
  left: 20vw;
  z-index: -1;
  width: 80vw;
  overflow: hidden;
}

.Works__Main__Background img {
  height: 300vh;
  opacity: 0.5;
}

.Works__Main__Item {
  display: flex;
  flex-direction: row;
  padding-top: 20vh;
}

.Works__Item__img {
  flex-basis: 80%;
  text-align: center;
}

.Works__Item__img img {
  width: 80%;
  height: 50vh;
  object-fit: cover;
  object-position: top center;
}

.Works__Item__text {
  flex-basis: 50%;
  height: 50vh;
  font-family: 'Quicksand';
  margin-top: 5vh;
}

.Works__Item__text__title {
  font-weight: 600;
  font-size: 32px;
  color: #ff6584;
}

.Works__Item__text__title > span {
  font-size: 28px;
}

.Works__Item__text__description {
  font-size: 18px;
  margin-top: 5vh;
  line-height: 4vh;
}

.Works__Item__text__description > span {
  font-size: 14px;
}

.Works__Item__text__skills {
  margin-top: 8vh;
}

.Works__Item__text__github {
  margin-top: 3vh;
  height: 25px;
}

.one::before {
  content: 'Works';
  left: -2vw;
  font-size: 90px;
}

@media (max-width: 1280px) {
  .Works__Item__text__title {
    font-size: 24px;
  }

  .Works__Item__text__title > span {
    font-size: 22px;
  }

  .Works__Item__text__description {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 600px) {
}
