#scene {
  position: relative;
}

.Top__astronaut img {
  height: 40vh;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: 30vw;
}

.Top__moonface img {
  width: 45vw;
  position: absolute;
  bottom: calc(-95vh + 80px);
  left: 0;
}

.Top__rocket img {
  height: 60vh;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: 10vw;
}

.Top__planet img {
  height: 15vh;
  position: absolute;
  bottom: calc(-50vh + 80px);
  left: 8vw;
}

.Top__backplanet img {
  height: 30vh;
  position: absolute;
  bottom: calc(-50vh + 80px);
  left: 25vw;
}

.Top__background img {
  width: 50vw;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: -3vw;
}

@media (max-width: 600px) {
  .Top__astronaut img {
    height: 22vh;
    bottom: calc(-61vh + 80px);
    left: 50vw;
  }

  .Top__moonface img {
    width: 80vw;
    bottom: calc(-63vh + 80px);
    left: 5vw;
  }

  .Top__rocket img {
    height: 27vh;
    bottom: calc(-62vh + 80px);
    left: 15vw;
  }

  .Top__planet img {
    height: 10vh;
    bottom: calc(-46vh + 80px);
    left: 6vw;
  }

  .Top__backplanet img {
    height: 23vh;
    position: absolute;
    bottom: calc(-45vh + 80px);
    left: 38vw;
  }

  .Top__background img {
    width: 52vw;
    bottom: calc(-65vh + 80px);
    left: 20vw;
  }
}
