#scene {
  position: relative;
}

.Top__astronaut img {
  height: 40vh;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: 30vw;
}

.Top__moonface img {
  width: 45vw;
  position: absolute;
  bottom: calc(-100vh + 80px);
  left: 0;
}

.Top__rocket img {
  height: 60vh;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: 10vw;
}

.Top__planet img {
  height: 15vh;
  position: absolute;
  bottom: calc(-50vh + 80px);
  left: 8vw;
}

.Top__backplanet img {
  height: 40vh;
  position: absolute;
  bottom: calc(-50vh + 80px);
  left: 25vw;
}

.Top__background img {
  width: 50vw;
  position: absolute;
  bottom: calc(-90vh + 80px);
  left: 0;
}
