.GetInTouch {
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 90%;
  /* max-width: 1200px; */
  color: #fff;
  font-family: 'Orbitron';
}

.GetInTouch__Inner {
  height: calc(100vh - 80px);
  display: flex;
}

.GetInTouch__texts {
  height: 100%;
  flex-basis: 50%;
}

.GetInTouch__text__title {
  font-size: 80px;
  font-weight: 900;
  padding-top: 20vh;
  position: relative;
}

.GetInTouch__text__title::before {
  content: '04';
  position: absolute;
  left: 0;
  bottom: 5vh;
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
}

.GetInTouch__text__link {
  font-size: 28px;
  font-family: 'Quicksand';
}

.GetInTouch__text__linkitem {
  padding-top: 5vh;
}

.GetInTouch__text__btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #ff6584;
  margin-top: 15vh;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
}
.GetInTouch__text__btn a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.GetInTouch__text__btn a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
}

.GetInTouch__img {
  position: relative;
  flex-basis: 50%;
  /* overflow: hidden; */
}

.window img {
  height: 80vh;
  position: absolute;
  bottom: 10vh;
  left: 0;
}

.twitter {
  height: 25px;
  width: 25px;
}

.github {
  height: 25px;
  width: 25px;
  margin-left: 2vw;
}
