.GetInTouch__text__title::before {
  content: '04';
}

.GetInTouch__text__link {
  font-size: 28px;
  font-family: 'Quicksand';
}

.GetInTouch__text__linkitem {
  padding-top: 5vh;
}

.GetInTouch__img {
  position: relative;
  flex-basis: 50%;
}

.GetInTouch__window img {
  position: absolute;
  height: auto;
  width: 40vw;
  bottom: 10vh;
  left: 0;
}

.GetInTouch__twitter {
  height: 25px;
  width: 25px;
}

.GetInTouch__github {
  height: 25px;
  width: 25px;
  margin-left: 2vw;
}

@media (max-width: 1280px) {
  .GetInTouch__text__link {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .GetInTouch__window img {
    height: auto;
    bottom: 10vh;
    left: 0;
    width: 80vw;
  }

  .GetInTouch__img {
    flex-basis: 60%;
  }
}
