.Footer {
  position: relative;
  height: 50px;
}
.copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
  opacity: 0.7;
  font-family: 'Orbitron';
}
