body {
  background-color: #3f3d56;
  color: #fff;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none !important;
}

.scroll-snapping {
  display: flex;
  flex: none;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
}

.container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex: none;
  margin: 0 auto;
  padding-top: 80px;
  width: 90%;
  color: #fff;
  font-family: 'Orbitron';
}

.container__Inner {
  height: calc(100vh - 80px);
  display: flex;
}

.container__texts {
  height: 100%;
  flex-basis: 50%;
}

.container__text__title {
  font-size: 80px;
  font-weight: 900;
  padding-top: 20vh;
  position: relative;
}

.container__text__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5vh;
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
}

.container__text__title h1::after {
  content: '';
  margin-left: 2vw;
  font-size: 24px;
  font-family: 'Quicksand';
  color: #ff6584;
  font-weight: 400;
}

.container__text__lead {
  font-size: 24px;
  font-family: 'Quicksand';
  padding-top: 2vh;
}

.container__text__lead p:nth-child(2) {
  padding-top: 1vh;
}

.container__text__subtitle {
  font-size: 60px;
  font-weight: 700;
  color: #ff6584;
  padding-top: 15vh;
}

.container__text__subtitle > p {
  font-size: 40px;
}

.container__text__btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: #ff6584;
  margin-top: 15vh;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
}
.container__text__btn a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container__text__btn a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
}

.container__img {
  position: relative;
  flex-basis: 50%;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .container__text__title {
    font-size: 60px;
  }

  .container__text__title::before {
    font-size: 80px;
  }

  .container__text__title h1::after {
    font-size: 20px;
  }

  .container__text__subtitle {
    font-size: 45px;
  }

  .container__text__subtitle > p {
    font-size: 35px;
  }

  .container__text__lead {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 600px) {
  .container__Inner {
    flex-direction: column-reverse;
  }

  .container__texts {
    flex-basis: 40%;
  }

  .container__text__title {
    font-size: 40px;
    padding-top: 5vh;
  }

  .container__text__title::before {
    font-size: 50px;
    left: 0;
    bottom: 3vh;
  }

  .container__text__title h1::after {
    font-size: 16px;
  }

  .container__text__subtitle {
    font-size: 30px;
    padding-top: 7vh;
  }

  .container__text__subtitle > p {
    font-size: 25px;
  }

  .container__text__lead {
    font-size: 16px;
  }

  .container__img {
    flex-basis: 60%;
  }

  .container__text__btn {
    height: 14px;
    width: 100px;
    font-size: 12px;
    margin-top: 5vh;
  }
}
