.Skill__Inner {
  flex-direction: column;
}

.Skill__texts {
  flex-basis: 65% !important;
}

.Skill__text__title {
  padding-top: 15vh;
}

.Skill__text__title::before {
  content: '02';
}

.Skill__text__title h1::after {
  content: '- 現在のスキル -';
}

.Skill__text__description {
  margin-top: 3vh;
  font-family: 'Quicksand';
  font-size: 20px;
  letter-spacing: 0.2vw;
  line-height: 5vh;
}

.Skill__text__description span {
  color: #ff6584;
  font-size: 24px;
}

.Skill__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.Skill__icons__item {
  text-align: center;
  flex-basis: 30%;
}

@media (max-width: 1280px) {
  .Skill__texts {
    flex-basis: 60% !important;
  }

  .Skill__text__description {
    font-size: 16px;
  }

  .Skill__text__description span {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 600px) {
  .Skill__text__description {
    font-size: 14px;
  }

  .Skill__text__description span {
    font-size: 18px;
  }
}
