.WhoIAm__texts {
  flex-basis: 100% !important;
}

.WhoIAm__text__title {
  padding-top: 15vh;
}

.WhoIAm__text__title::before {
  content: '01';
}

.WhoIAm__text__title h1::after {
  content: '- 自己紹介 -';
}

.WhoIAm__text__lead {
  font-size: 40px;
  margin-top: 3vh;
}

.WhoIAm__text__description {
  margin-top: 5vh;
  font-family: 'Quicksand';
  font-size: 20px;
  letter-spacing: 0.2vw;
  line-height: 5vh;
}

@media (max-width: 1280px) {
  .WhoIAm__text__lead {
    font-size: 30px;
  }

  .WhoIAm__text__description {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
}

@media (max-width: 600px) {
  .WhoIAm__text__lead {
    font-size: 25px;
  }

  .WhoIAm__text__description {
    font-size: 14px;
  }
}
